.Container {
  padding: 10px;
}

.SearchBar{
  margin-top: 0 ;
  margin-bottom: 10px ;
}

.UserTable thead{
  background-color: lavender;
}

.UserTable td, .UserTable th{
  padding-top: 0;
  padding-bottom: 0;
}

.UserTable th{
  font-weight: 700;
}

.Selected{
  background-color: rgb(20, 207, 207);
}

.PagingBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.ActionButton{
  display: flex;
  align-items: center;
  gap: 5px;
}

.ActionButton .MuiIconButton-root{
  padding: 5px !important;
  width: 36px;
  min-width: 36px;
  height: 36px;
}

.ButtonGroup{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.FormGroup{
  margin-bottom: 15px;
}

.ModalTitle{
  margin-bottom: 20px;
}
/* 
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 8px;
}

body::-webkit-scrollbar:horizontal {
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgb(230 230 250);
} */